

<div class = "container-fluid enzosbg" id="page-content">


  <div class="row">
    <div class="col-lg-5 shadow-lg p-3 mb-5 rounded" id="task-container-1">
      <h1>Unfinished Tasks</h1>
        <div class="dropdown">
          <div class="text-right">
            Sort By
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Default
            </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Roomate</a>
                <a class="dropdown-item" href="#">Date</a>
                <a class="dropdown-item" href="#">Importance</a>
              </div>
            </div>

          </div>
          <ul class="list-group">
            <% @articles.each do |article| %>

                <li class="list-group-item list-group-item-light">
                    <%= link_to article.title, article_path(article), class: "text-info" %>
                    <div class="text-right">
                      <%= link_to "Complete", article_path(article) %> -
                      <%= article.description %> -
                      <small> Created <%= time_ago_in_words( article.created_at) %> ago </small>

                    </div>

                </li>

            <% end %>
          </ul>
          <br>

    </div>
    <div class="col-lg-5"id="task-container-1">
      <h1>Pending Approval</h1>
      <div class="dropdown">
        <div class="text-right">
          Sort By
          <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Default
          </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">Roomate</a>
              <a class="dropdown-item" href="#">Date</a>
              <a class="dropdown-item" href="#">Importance</a>
            </div>
          </div>

        </div>
      <table>
        <thead>
          <tr>
            <th>Title</th>
            <th>Description</th>
            <th colspan="3">Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @articles.each do |article| %>
            <tr>
              <td><%= article.title %></td>
              <td><%= article.description %></td>
              <td><%= link_to "Show", article_path(article) %></td>
              <td><%= link_to "Edit", edit_article_path(article) %></td>
              <td><%= link_to "Delete", article_path(article), method: :DELETE, data: {confirm:"Are you sure?"} %></td>

            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <br>
  <br>


  <div class="text-center">
    <button type="button" class="btn btn-secondary btn-lg bt-outline-light"> <strong> <%= link_to "Create new Article", new_article_path, class: "text-white" %></strong></button>
  </div>



</div>
<footer id="sticky-footer" class="py-4 bg-dark text-white-50">
    <div class="container text-center">
      <small>Copyright &copy; Enzo </small>
      <br>
      <%= link_to "Articles Listing", articles_path %>
     |
      <%= link_to "About page", about_path %>
    </div>
</footer>
