
<div class="container rounded" id="task-container-1">
  <%= form_with(model: @user, local: true ) do |f| %>

  <h1 class = "text-center"> New Account </h1>
    <div class="form-group row">
      <%= f.label :"User Name", class: "col-2 col-form-label" %><br>
      <div class="col-10">
        <%= f.text_area :username, class: "form-control", placeholder: "BigDaddyEnzo" %>
      </div>
    </div>

    <div class="form-group row">
      <%= f.label :Email, class: "col-2 col-form-label" %><br>
      <div class="col-10">
        <%= f.text_area :email, class: "form-control", placeholder: "example@email.com" %>
      </div>
    </div>

    <div class="form-group row">
      <%= f.label :Password, class: "col-2 col-form-label" %><br>
      <div class="col-10">
        <%= f.text_area :password, class: "form-control", placeholder: "************" %>
      </div>
    </div>





    <p class = "text-center">
      <%= f.submit class: "text-white btn-secondary" %>
    </p>
  <% end %>

</div>
